appnope
argon2-cffi
asn1crypto==1.4.0
astroid
async-generator
attrs
Automat==20.2.0
autopep8
azure-common==1.1.25
azure-core==1.8.2
azure-storage-blob==12.5.0
backcall
bcrypt
bleach
boto3==1.15.18
botocore==1.18.18
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==8.0.1
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
decorator
defusedxml
dnspython==1.16.0
entrypoints==0.3
Flask==2.0.1
hyperlink
idna==2.10
importlib-metadata
incremental==17.5.0
ipdb==0.13.7
ipykernel
ipython
ipython-genutils
isodate==0.6.0
isort
itsdangerous==2.0.1
jedi==0.17.0
Jinja2
jmespath==0.10.0
joblib==1.0.1
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
kiwisolver==1.3.1
lazy-object-proxy
lxml
MarkupSafe
matplotlib==3.4.2
mccabe==0.6.1
mistune
mpmath==1.2.1
msrest==0.6.19
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy==1.20.3
oauthlib==3.1.0
oscrypto==1.2.1
packaging
pandas==1.2.4
pandocfilters
parsel
parso
pexpect
pickleshare
Pillow==8.2.0
prometheus-client
prompt-toolkit
ptyprocess
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle
pycparser
pycryptodomex==3.9.8
PyDispatcher==2.0.5
Pygments
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint
pymongo==3.11.4
pyOpenSSL==19.1.0
pyparsing
pyrsistent
PySocks
python-dateutil
pytz==2020.1
pyzmq==20.0.0
queuelib
requests==2.23.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
scikit-learn==0.24.2
scipy==1.6.3
Scrapy==1.6.0
scrapy-selenium==0.0.7
scrapy-splash==0.7.2
seaborn==0.11.1
selenium
Send2Trash
service-identity==18.1.0
six==1.15.0
sklearn==0.0
snowflake-connector-python==2.4.4
sympy==1.8
terminado==0.9.4
testpath
threadpoolctl==2.1.0
toml
tornado
traitlets
Twisted
urllib3==1.26.4
w3lib
wcwidth
webencodings==0.5.1
Werkzeug==2.0.1
wrapt
zipp
zope.interface
